* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.container .video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container .video-container-main {
  width: 100%;
}

.container .video-container-main video {
  width: 100%;
}

.container .video-container-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container .video-container-controls .progress-tag {
  position: absolute;
  background: blue;
  color: #fff;
  padding: 5px 0;
  cursor: pointer;
  transform: translate3d(-50%, 0, 0);
}
